body {
  background-color: #4E3629;
}

.banner {
  display: flex;
  width: 80%;
  margin-top: 20px;
}

.logo {
  display: flex;
  width: 40%;
  margin-top: 20px;
  margin-left: 2%;
}

.legend {
  border-radius: 10px;
  background-color: #b6b6b6;
  padding: 10px;
  margin-right: 10%;
  margin-top: 3vh;
  height: 10%
}

.hall {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
}

.legend-color {
  width: 50px;
  height: 20px;
  border-radius: 10%;
  margin-right: 5px;
}

.legend-text {
  flex-grow: 1;
}

/* Define colors */
.legend-red {
  background-color: #ff8383;
}

.legend-orange {
  background-color: #ffd28e;
}

.legend-blue {
  background-color: #7291ff;
}

.legend-purple {
  background-color: #e0a1ff;
}
.clear{
  margin-top: 10%;
}
/* Additional responsive adjustments */
@media (max-width: 768px) {
  .col {
    flex: 1 1 45%;
    /* Wider on smaller screens */
  }
}

@media (max-width: 430px) {
  .col {
    flex: 1 1 100%;
    /* Full width on very small screens */
  }

  .legend {
    display: none;
  }

  .dining-btns {
    margin-top: 5vh;
    margin-left: 8vh;
  }

  .dining-btn {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: rgb(13, 12, 12);
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .dining-btn:active {
    color: rgb(0, 0, 0);
    background-color: #535353;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
  }

  .dining-btn:disabled {
    cursor: auto;
    color: rgb(13, 12, 12);
  }
  .closed {
    color: #c30000;
  }

  .open {
    color: #1b9003;
  }
}