html, body {
  margin: 0;
  padding: 0;
}

.page-container {
  position: relative;
  min-height: 100vh;
}
.meal-info {
  text-align: center;
}

.logo {
  display: flex;
  width: 40%;
  margin-top: 20px;
  margin-left: 2%;
}

.day-label h3,
.day-label p {
  margin: 0;
  padding: 0;
}

.week-container {
  display: flex;
  flex-wrap: nowrap;
  /* Prevent columns from wrapping */
  margin-top: 5px;
  overflow-x: auto;
  /* Add horizontal scrolling if columns overflow */
}

.col {
  flex: 1;
  border: 1px solid #ddd;
  margin: 10px;
  min-width: 120px;
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
}

.col h3 {
  color: #000000;
  text-align: center;
}

.col .Ratty,
.col .IvyRoom,
.col .Andrews,
.col .VDub {
  margin-top: 10%;
  border-radius: 10px;
}

.category {
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  /* Space between categories */
}

.category h4 {
  padding: 0;
  margin: 3px;
}

.category p {
  padding: 0;
  margin: 7px;
}

.Ratty .category {
  background-color: #ff8383;
}

.Andrews .category {
  background-color: #7291ff;
}

.IvyRoom .category {
  background-color: #ffd28e;
}

.VDub .category {
  background-color: #e0a1ff;
}

.disclaimer {
  width: 30%;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.disclaimer p {
  padding-left: 15px;
  padding-right: 15prgb(144, 139, 133)
}

.item-container {
  display: flex;
  align-items: center;
  /* This will vertically center align the items */
  justify-content: space-between;
  /* This will place the content on either end; adjust as needed */
}

.item-container p {
  font-size: small;
  margin-right: 10px;
  /* Adds some space between the item name and the vote buttons */
  flex: 1;
  /* Allows the paragraph to take up as much space as it can, pushing the vote section to the end */
}

.vote {
  display: flex;
  /* Aligns the vote buttons in a row */
  align-items: center;
  /* Vertically centers the vote buttons */
}

.vote img {
  width: auto;
  height: 1em;
  /* Sets the height of the arrow images relative to the font size */
  margin: 0 5px;
  /* Adds space between the arrows */
}

.vote p {
  margin: 0;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5%;
}

/* Additional responsive adjustments */
@media (max-width: 768px) {
  .col {
    flex: 1 1 45%;
    /* Wider on smaller screens */
  }
}

@media (max-width: 430px) {
  .col {
    flex: 1 1 100%;
    margin: 5%;
    /* Full width on very small screens */
  }

  .disclaimer {
    width: 70%;
    background-color: #f9c87a;
    padding: 8px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .meal-info {
    text-align: center;
  }

  .day-label h3,
  .day-label p {
    margin: 0;
    padding: 0;
  }

  .logo {
    margin-left: 2vh;
    width: 40%;
    height: 20vh;
  }

  .dining-btn p {
    padding: 0;
    margin: 0;
    font-size: small;
  }

  .closed {
    color: #c30000;
  }

  .open {
    color: #1b9003;
  }

  .item-container {
    display: flex;
    align-items: center;
    /* This will vertically center align the items */
    justify-content: space-between;
    /* This will place the content on either end; adjust as needed */
  }

  .item-container p {
    margin-right: 10px;
    /* Adds some space between the item name and the vote buttons */
    flex: 1;
    /* Allows the paragraph to take up as much space as it can, pushing the vote section to the end */
  }

  .vote {
    display: flex;
    /* Aligns the vote buttons in a row */
    align-items: center;
    /* Vertically centers the vote buttons */
  }

  .vote img {
    width: auto;
    height: 1em;
    /* Sets the height of the arrow images relative to the font size */
    margin: 0 5px;
    /* Adds space between the arrows */
  }

  .vote p {
    margin: 0;
  }
}